.main-content {
    display: flex;
    height: 100%; 
    gap: 10px;
  }
@media screen and (max-width: 900px) {
  .main-content {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    display: none;
  }
  
  .right-sidebar {
    display: none;
  }
}
.sidebar{
    background-color: rgb(228, 235, 235);
    width: 20%; 
    max-width: 100%;
    padding: 10px;
    
}

.all-posts{
  background-color: rgb(240, 241, 241);
  width: 450%;
}
.right-sidebar{
    background-color: rgb(250, 250, 250);
}